<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="c7b4de">  <td>19/09/15 11:23:43</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Base.startBrowser()[pri:0, instance:com.saloodo.Smoke.CarrierLogin@5ef60048]">&gt;&gt;startBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@898557489</td>   <td></td> </tr>
<tr bgcolor="89aadb">  <td>19/09/15 11:23:47</td>   <td>4030</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CarrierLogin.carrierLogin()[pri:1, instance:com.saloodo.Smoke.CarrierLogin@5ef60048]">carrierLogin</td> 
  <td>main@898557489</td>   <td></td> </tr>
<tr bgcolor="c7b4de">  <td>19/09/15 11:23:50</td>   <td>7110</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Base.takeScreenShotOnFailure()[pri:0, instance:com.saloodo.Smoke.CarrierLogin@5ef60048]">&lt;&lt;takeScreenShotOnFailure</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@898557489</td>   <td></td> </tr>
<tr bgcolor="c7b4de">  <td>19/09/15 11:23:50</td>   <td>7289</td> <td title="&lt;&lt;Base.stopDriver()[pri:0, instance:com.saloodo.Smoke.CarrierLogin@5ef60048]">&lt;&lt;stopDriver</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@898557489</td>   <td></td> </tr>
</table>
