<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="89aadb">  <td>19/05/28 11:44:27</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ShipperLogin.selectCarCategory()[pri:1, instance:com.saloodo.Smoke.ShipperLogin@5af97850]">selectCarCategory</td> 
  <td>main@591391158</td>   <td></td> </tr>
<tr bgcolor="c7b4de">  <td>19/05/28 11:44:18</td>   <td>-9070</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Base.startBrowser()[pri:0, instance:com.saloodo.Smoke.ShipperLogin@5af97850]">&gt;&gt;startBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@591391158</td>   <td></td> </tr>
<tr bgcolor="c7b4de">  <td>19/05/28 11:44:34</td>   <td>6341</td> <td title="&lt;&lt;Base.stopDriver()[pri:0, instance:com.saloodo.Smoke.ShipperLogin@5af97850]">&lt;&lt;stopDriver</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@591391158</td>   <td></td> </tr>
<tr bgcolor="c7b4de">  <td>19/05/28 11:44:33</td>   <td>6098</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Base.takeScreenShotOnFailure()[pri:0, instance:com.saloodo.Smoke.ShipperLogin@5af97850]">&lt;&lt;takeScreenShotOnFailure</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@591391158</td>   <td></td> </tr>
</table>
